.galleryPage h2 {
  font-weight: 600;
  font-size: 25px;
  padding: 2px;
  text-align: center;
  color: #03353d;
}
.galleryPage h4 {
  font-weight: bold;
  font-size: medium;
  padding: 2px;
  text-align: center;
  color: #18615b;
  font-style: italic;
}
.galleryPage__allImages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.galleryPage__allImages__image {
  transition: 0.2s;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  border: 4px solid #17a397;
}
.galleryPage__allImages__image img {
  width: 250px;
  height: 250px;
}
.galleryPage__allImages__image:hover {
  transform: scale(2);
}

@media screen and (max-width: 550px) {
  .galleryPage__allImages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .galleryPage__allImages__image:hover {
    transform: none;
  }
}