.mainPage {
  height: 100vh;
  width: 100%;
  background-image: url("./Images/Black_Teal_uniform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mainPage__nav {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
.mainPage__nav__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.mainPage__nav__links ul {
  display: flex;
  text-align: right;
  flex-direction: row;
}
.mainPage__nav__links ul li {
  display: inline-block;
  list-style-type: none;
  padding: 8px 12px;
}
.mainPage__nav__links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #08f1de;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.mainPage__nav__links ul li :hover::after {
  width: 100%;
}
.mainPage__nav__links ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.mainPage__content {
  text-align: center;
  color: white;
  position: relative;
  top: 25%;
}
.mainPage__content h1 {
  font-size: 60px;
}
.mainPage__content h4 {
  font-size: 30px;
}

nav .fa {
  display: none;
}

@media screen and (max-width: 550px) {
  .mainPage__nav__links {
    position: absolute;
    background-color: #04b3b3;
    top: 0;
    right: -300px;
    z-index: 2;
    height: 100vh;
    width: 200px;
  }
  .mainPage__nav__links ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}