.projectPage h2 {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #03353d;
}
.projectPage h4 {
  font-weight: bold;
  font-size: medium;
  text-align: center;
  color: #18615b;
  font-style: italic;
}
.projectPage p {
  font-weight: bold;
  font-size: medium;
  text-align: center;
}
.projectPage__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  transition: 0.5s;
}
.projectPage__main__sub {
  background-color: #18615b;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 10px;
}
.projectPage__main__sub:hover {
  box-shadow: 0 0 20px 0px #007180;
}
.projectPage__main__sub h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
.projectPage__main__sub a {
  color: white;
  text-align: center;
  position: relative;
  bottom: 8px;
  left: 150px;
}

@media screen and (max-width: 550px) {
  .projectPage__main {
    display: grid;
    grid-template-columns: 1fr;
  }
}