.skillsPage{
    background-image: linear-gradient(to bottom right, rgb(11, 238, 219), rgb(15, 99, 94));
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    h2{
        font-weight: 600;
        font-size: 25px;
        padding: 2px;
        text-align: center;
        color: white;
    }

    h4{
        font-weight: bold;
        font-size: medium;
        padding: 2px;
        text-align: center;
        color: white;
        font-style: italic;
    }
    .allSkills{
        text-align: center;
        ul {
            list-style-type: none;
            color:white;
        }
    }

}